{% extends '::base.html.twig' %}

{% block ariane -%}<a href="{{ path('homepage') }}">Accueil</a> > <a href="{{ path('bien_index') }}">Biens</a> > Créer un bien{% endblock %}
{% block pagetitle -%}CREER UN BIEN{% endblock %}
{% block menu_bien_actif %}active{% endblock %}

{% block body -%}

    {{ form(form) }}

{% endblock %}

{% block retour %} 
    <a href="{{ path('bien_index') }}">
        Retour à la liste
    </a>
{% endblock %}
  
{% block javascripts -%}
<script type="text/javascript">
        $(document).ready(function() {

             $( "#appbundle_bien_searchproprio" ).autocomplete({
                 source : function(requete, reponse){
                            $.ajax({
                                    url : '{{ path('proprietaires_ajax') }}', 
                                    dataType : 'json',
                                    data : {
                                        search : $('#appbundle_bien_searchproprio').val(),
                                        maxRows : 15
                                    },
                                    success : function(donnee){
                                        reponse($.map(donnee, function(objet){
                                             return {
                                                 nom :objet.nom,
                                                 prenom : objet.prenom,
                                                 telephone : objet.telephone,
                                                 id : objet.id
                                             };
                                        }));
                                    }
                                });
                            },
                            select: function (event, ui) {
                                $( "#appbundle_bien_searchproprio" ).val( ui.item.prenom + ' '+ ui.item.nom + ' '+ ui.item.telephone );
                                $( "#appbundle_bien_proprietaireId" ).val( ui.item.id );
                                 return false;
                            }
              }).data('ui-autocomplete')._renderItem = function (ul, item) {
                            return $("<li />")
                                .data("item.autocomplete", item)
                                .append(item.prenom + ' '+ item.nom + ' '+ item.telephone + "</a>")
                                .appendTo(ul);
               };
               
               $( "#appbundle_bien_searchparent" ).autocomplete({
                 source : function(requete, reponse){
                            $.ajax({
                                    url : '{{ path('parents_ajax') }}', 
                                    dataType : 'json',
                                    data : {
                                        search : $('#appbundle_bien_searchparent').val(),
                                        maxRows : 15
                                    },
                                    success : function(donnee){
                                        reponse($.map(donnee, function(objet){
                                             return {
                                                 nom :objet.nom,
                                                 prenom : objet.prenom,
                                                 telephone : objet.telephone,
                                                 libelle : objet.libelle,
                                                 id : objet.id
                                             };
                                        }));
                                    }
                                });
                            },
                            select: function (event, ui) {
                                $( "#appbundle_bien_searchparent" ).val( ui.item.libelle + ' '+ ui.item.prenom + ' '+ ui.item.nom + ' '+ ui.item.telephone );
                                $( "#appbundle_bien_parentid" ).val( ui.item.id );
                                 return false;
                            }
              }).data('ui-autocomplete')._renderItem = function (ul, item) {
                            return $("<li />")
                                .data("item.autocomplete", item)
                                .append(item.libelle + ' '+ item.prenom + ' '+ item.nom + ' '+ item.telephone + "</a>")
                                .appendTo(ul);
               };
            if($("#appbundle_bien_typeBien option:selected" ).text() !== "Appartement"){
                    $( "#appbundle_bien_searchparent" ).prop('disabled', true);
                    $( "#appbundle_bien_searchparent" ).val("");
                    $( "#appbundle_bien_parentid" ).val(-1);                    
              };
              
              if($("#appbundle_bien_typeBien option:selected" ).text() == "Immeuble"){
                    $( "#appbundle_bien_chambre" ).val(0);
                    $( "#appbundle_bien_chambre" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_salon" ).val(0);
                    $( "#appbundle_bien_salon" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_cuisine" ).val(0);
                    $( "#appbundle_bien_cuisine" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_toilette" ).val(0);
                    $( "#appbundle_bien_toilette" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_magasin" ).val(0);
                    $( "#appbundle_bien_magasin" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_annexe" ).val(0);
                    $( "#appbundle_bien_annexe" ).prop('readonly', "readonly");                   
              }else{
                    $( "#appbundle_bien_chambre" ).prop('readonly', "");
                    $( "#appbundle_bien_salon" ).prop('readonly', "");
                    $( "#appbundle_bien_cuisine" ).prop('readonly', "");
                    $( "#appbundle_bien_toilette" ).prop('readonly', "");
                    $( "#appbundle_bien_magasin" ).prop('readonly', "");
                    $( "#appbundle_bien_annexe" ).prop('readonly', ""); 
              };
              
              $( "#appbundle_bien_typeBien" ).change(function() {
                  if($("#appbundle_bien_typeBien option:selected" ).text() == "Immeuble"){
                    $( "#appbundle_bien_chambre" ).val(0);
                    $( "#appbundle_bien_chambre" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_salon" ).val(0);
                    $( "#appbundle_bien_salon" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_cuisine" ).val(0);
                    $( "#appbundle_bien_cuisine" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_toilette" ).val(0);
                    $( "#appbundle_bien_toilette" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_magasin" ).val(0);
                    $( "#appbundle_bien_magasin" ).prop('readonly', "readonly");
                    $( "#appbundle_bien_annexe" ).val(0);
                    $( "#appbundle_bien_annexe" ).prop('readonly', "readonly");                   
              }else{
                  $( "#appbundle_bien_chambre" ).prop('readonly', "");
                    $( "#appbundle_bien_salon" ).prop('readonly', "");
                    $( "#appbundle_bien_cuisine" ).prop('readonly', "");
                    $( "#appbundle_bien_toilette" ).prop('readonly', "");
                    $( "#appbundle_bien_magasin" ).prop('readonly', "");
                    $( "#appbundle_bien_annexe" ).prop('readonly', ""); 
                if($( "#appbundle_bien_typeBien option:selected" ).text() === "Appartement"){
                    $( "#appbundle_bien_searchparent" ).prop('disabled', false);
                }else{
                    $( "#appbundle_bien_searchparent" ).prop('disabled', true);
                    $( "#appbundle_bien_searchparent" ).val("");
                    $( "#appbundle_bien_parentid" ).val(-1);
                }
            }
            });  
            
            var $regionForm = $( "#appbundle_bien_region" );
            $regionForm.change(function() {
                var $region = $sport.val();
                alert($region);return;
                // Submit data via AJAX to the form's action path.
                $.ajax({
                  url : $form.attr('action'),
                  type: $form.attr('method'),
                  data : data,
                  success: function(html) {
                    // Replace current position field ...
                    $('#meetup_position').replaceWith(
                      // ... with the returned one from the AJAX response.
                      $(html).find('#meetup_position')
                    );
                    // Position field now displays the appropriate positions.
                  }
                });
               }); 
            
        } );
    </script>
{% endblock %}