{% extends '::base.html.twig' %}

{% block ariane -%}<a href="{{ path('homepage') }}">Accueil</a> > <a href="{{ path('bien_index') }}">Bien</a> > Détail{% endblock %}
{% block pagetitle -%}DETAIL DU BIEN{% endblock %}
{% block menu_bien_actif %}active{% endblock %}

{% block actions %}
    {% if is_granted('ROLE_SUPERVISEUR') %}
        {% if bien.typeBien.code == 'IMMEUBLE' %}
            <a href="{{ path('appart_new', {'id': bien.id}) }}">CREER UN APPART</a>
        {% elseif bien.typeBien.code == 'APPARTEMENT' %}
            <a href="{{ path('appart_new', {'id': bien.parent.id}) }}">CREER UN AUTRE APPART POUR LE MEME IMMEUBLE</a>
        {% endif %}
    {% endif %}
{% endblock %}
{% block body -%}
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
        <tbody>
            {% if bien.typeBien.code == 'IMMEUBLE' %}
                <tr>
                    <th>Libelle</th>
                    <td>{{ bien.libelle }}</td>
                </tr>
                <tr>
                    <th>Type de bien</th>
                    <td>{{ bien.typeBien }}</td>
                </tr>
                <tr>
                    <th>Nombre d'appartement</th>
                    <td>{{ bien.fils|length }}</td>
                </tr>
            {% else %}
            
            <tr>
                <th>Libelle</th>
                <td>{{ bien.libelle }}</td>
            </tr>
            <tr>
                <th>Type de bien</th>
                <td>{{ bien.typeBien }}</td>
            </tr>
            
            <tr>
                <th>Nombre de chambres</th>
                <td>{{ bien.chambre }}</td>
            </tr>
            <tr>
                <th>Nombre de salons</th>
                <td>{{ bien.salon }}</td>
            </tr>
            <tr>
                <th>Nombre de cuisines</th>
                <td>{{ bien.cuisine }}</td>
            </tr>
            <tr>
                <th>Nombre de toilettes</th>
                <td>{{ bien.toilette }}</td>
            </tr>
            <tr>
                <th>Nombre d'annexe</th>
                <td>{{ bien.annexe }}</td>
            </tr>
            <tr>
                <th>Appartement meublé ?</th>
                <td>{% if bien.meuble == 1 %} OUI {% else %} NON {% endif %}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ bien.superficie |number_format(0, ',', ' ') }} m²</td>
            </tr>                
            
            <tr>
                <th>Prix de vente</th>
                <td>{{ bien.montant |number_format(0, ',', ' ') }}</td>
            </tr>
            <tr>
                <th>Loyer mensuel</th>
                <td>{{ bien.loyer |number_format(0, ',', ' ') }}</td>
            </tr>
            <tr>
                <th>Loyer journalier</th>
                <td>{{ bien.loyerJournalier |number_format(0, ',', ' ') }}</td>
            </tr>
            <tr>
                <th>% Propriétaire</th>
                <td>{{ bien.partProprio }} %</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ bien.statut }}</td>
            </tr>
            {% endif %}
            {% if is_granted('ROLE_SUPERVISEUR') %}
                <tr>
                    <th>Propriétaire</th>
                    <td>{% if bien.proprietaire %} {{ bien.proprietaire.nom }} {{ bien.proprietaire.prenom }} {% endif %}</td>
                </tr>
                
                <tr>
                    <th><a href="{{ path('bien_edit', {'id': bien.id}) }}">Modifier</a></th>
                    <th><a href="{{ path('bien_index') }}">Retour à la liste</a></th>
                </tr>
            {% endif %}
            <tr>
                <th colspan='2'>{{ form(delete_form) }}</th>
            </tr>
        </tbody>
    </table>
            
                {% if bien.fils and bien.fils|length > 0 %}
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            <thead><th>LISTE DES APPARTEMENTS</th></thead>
            <tbody>
                <tr>
                        <th>LIBELLE</th>
                        <th>STATUT</th>
                        <th>TYPE</th>
                        <th>DESCRIPTION</th>
                        <th>TARIFS</th>
                    </tr>
                {% for appart in bien.fils %}
                    <tr>
                        <td><a href="{{ path('bien_show', {'id': appart.id}) }}">{{ appart.libelle }}</a></td>
                        <td>{{ appart.statut }}</td>
                        <td>{{ appart.typeAffaire }}</td>
                        <td>{{ appart.description }}</td>
                        <td>Vente : {{ appart.montant |number_format(0, ',', ' ') }} | Location mensuelle : {{ appart.loyer |number_format(0, ',', ' ') }} | Location journalière : {{ appart.loyerJournalier |number_format(0, ',', ' ') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>   
    {% endif %}

{% endblock %}
