{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::visite/menu.html.twig' %}
{% block menu_controles_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block menu_controle_actif %}active{% endblock %}
{% block menu_caisse_actif %}active{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item">Contrôles</li>
    </ol>
{% endblock %}
{% block actions %}
    {% if centre == false %}
        <label class="btn btn-warning pointer-event">LE CENTRE EST FERME. ATTENDEZ SON OUVERTURE</label>
    {% else %}
        <label class="btn btn-success pointer-event">LE CENTRE EST OUVERT.</label>
    {% endif %}
{% endblock %}
{% block pagetitle -%}VEHICULES A CONTROLLER : {{ piste }}{% endblock %}

{% block body -%}
<div class="table-responsive">
    <label class="btn btn-warning pointer-event"> 
        <form method='POST' action='{{ path('visite_controle') }}'>
            Immatriculation <input type="text" id="immatriculation" name="immatriculation" value="{{ immatriculation }}" /> 
            
            <input type="submit" value="Rechercher"/>
        </form>
    </label>
    {% if visites is not null%}
        {% if visites is empty %}
            Aucun véhicule trouvé. Merci de vérifier l'immatriculation ou procéder à l'enregistrement!
        {% else %}
            <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
                <thead>
                    <tr>
                        <th>Immatriculation</th>
                        <th>Type Chassis</th>
                        <th>Chassis</th>
                        <th>Proprietaire</th>
                        <th>TYPE</th>
                        <th>ETAT</th>
                        <th>PISTE</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visite in visites %}
                        <tr>
                            <td>{{ visite.immatriculation }} </td>
                            <td>{{ visite.chassis }} </td>
                            <td>{{ visite.nom }} {{ visite.prenom }}</td>
                            <td>
                                {% if visite.contre_visite == 1 %}
                                    {% if visite.contre_visite_visuelle == 1 %}
                                        Contre visite visuelle
                                    {% else %}
                                        Contre visite
                                    {% endif %}
                                {% else %}
                                    {% if visite.revisite == 1 %}
                                        Revisite
                                    {% else %}
                                        Normale
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if visite.statut == 1 %}
                                    A controller
                                {% elseif visite.statut == 2 %} 
                                    Succès
                                {% elseif visite.statut == 3 %}
                                    Echec
                                {%  endif %}
                            </td>
                            <td>{{ visite.piste }} </td>
                            <td>
                                {% if visite.statut == 1 %}
                                    {% if visite.contre_visite_visuelle == 1 %}
                                        <a title='Controller' class='btn btn-success' href='{{ path('visite_controleur', { 'id': visite.id }) }}'><i class='fa fa-config' ></i> Controler</a>
                                    {% else %}
                                        <a title='Controller' class='btn btn-success' href='{{ path('visite_maha', { 'id': visite.id }) }}'><i class='fa fa-config' ></i> Controler</a>
                                    {%  endif %}
                                {% else %}
                                    <a title='Détail' class='btn btn-success' href='{{ path('visite_show', { 'id': visite.id }) }}'><i class='fa fa-plus' ></i> Voir le rapport</a>
                                {%  endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Immatriculation</th>
                        <th>Type Chassis</th>
                        <th>Proprietaire</th>
                        <th>TYPE</th>
                        <th>ETAT</th>
                        <th>PISTE</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
    {% else %}
        Saisir au mois 4 charactères pour lancer la recherche!
    {% endif %}
</div>
{% endblock %}

