{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::visite/menu.html.twig' %}
{% block menu_quittance_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block menu_caisse_actif %}active{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item">Caisses</li>
    </ol>
{% endblock %}
{% block pagetitle -%}LISTE DES QUITTANCES : {{ profil }}{% endblock %}
{% block actions %}
    {% if is_granted('ROLE_CAISSIER') %}
        {% if centre.etat %}
            {% if caisse.ouvert %}
                <label class="btn btn-success">LA CAISSE EST OUVERTE</label>
                <label onclick='fermer()' title='Cliquer pour fermer la caisse' class="btn btn-danger" style='cursor: pointer'>FERMER</label>
            {% else %}
                <label class="btn btn-warning pointer-event">LA CAISSE EST FERMEE</label>
                <label onclick='ouvrir()' title='cliquer pour ouvrir la caisse' class="btn btn-success" style='cursor: pointer'>OUVRIR</label>
            {% endif %}
        {% else %}
            <label class="btn btn-warning pointer-event">LE CENTRE EST FERME. ATTENDEZ SON OUVERTURE</label>
        {% endif %}
    {% endif %}
{% endblock %}

{% block body -%}
<div class="table-responsive">
    <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
        <thead>
            <tr>
                <th>Immatriculation</th>
                <th>Proprietaire</th>
                <th>TYPE</th>
                <th>CAISSE</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
        <tfoot>
            <tr>
                <th>Immatriculation</th>
                <th>Proprietaire</th>
                <th>TYPE</th>
                <th>CAISSE</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>
<div id="demo-modal" title="VISITE NORMALE"></div>
<div id="ouverture-modal" title="OUVERTURE/FERMETURE DE CAISSE"></div>
{% endblock %}
{% block javascripts -%}
<script type="text/javascript">
    function ouvrir(){
	var options = {
            modal: true,
            height:200,
            width:700,
            buttons: {
                "Valider": function() {
                    $(location).attr('href', '{{ path('admin_parametres_caisse_ouvrir', { 'id': caisse.id }) }}')
                },
                Annuler: function() {
                    $( this ).dialog( "close" );
                }
            }
        };
        $('#ouverture-modal').html("<img src='{{ asset('images/loader.gif') }}' />");
        $('#ouverture-modal').load('{{ path('caisse_ouverture_confirmer', { 'id': caisse.id }) }}').dialog(options).dialog('open');
    }
    
    function fermer(){
	var options = {
            modal: true,
            height:400,
            width:700,
            buttons: {
                "Valider": function() {
                    $(location).attr('href', '{{ path('admin_parametres_caisse_fermer', { 'id': caisse.id }) }}')
                },
                Annuler: function() {
                    $( this ).dialog( "close" );
                }
            }
        };
        $('#ouverture-modal').html("<img src='{{ asset('images/loader.gif') }}' />");
        $('#ouverture-modal').load('{{ path('caisse_fermeture_confirmer', { 'id': caisse.id }) }}').dialog(options).dialog('open');
    }
    
    function loadDynamicContentModal(id){
	var options = {
			modal: true,
			height:400,
			width:700,
                              buttons: {
        "Valider": function() {
         $(location).attr('href', '{{ app.request.getSchemeAndHttpHost()~ app.request.baseUrl }}/caisse/quittance/'+id+'/creer')
        },
        Annuler: function() {
          $( this ).dialog( "close" );
        }
      }
		};

	$('#demo-modal').html("<img src='{{ asset('images/loader.gif') }}' />");
	$('#demo-modal').load('{{ app.request.getSchemeAndHttpHost()~ app.request.baseUrl }}/caisse/quittance/'+id+'/confirmer').dialog(options).dialog('open');
}
    $(document).ready(function() {

        $('#liste_clients').DataTable({
            "columnDefs": [
           
            { "orderable": false, "targets": 3 }
        ],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{{ path('quittanceajax') }}",
        },
        "paging" : true,
        "info" : true, 
        "searching": true,
        "responsive": true,
        "pageLength": 50,
        "order": [[0, 'asc']],
       language: {
        processing:     "Traitement en cours...",
        search:         "Rechercher&nbsp;:",
        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix:    "",
        loadingRecords: "Chargement en cours...",
        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable:     "Aucune donnée disponible dans le tableau",
        paginate: {
            first:      "Premier",
            previous:   "Pr&eacute;c&eacute;dent",
            next:       "Suivant",
            last:       "Dernier"
        },
        aria: {
            sortAscending:  ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
    }
    });	
   
 
    
        });    
    </script>
    
{% endblock %}
