{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::visite/menu.html.twig' %}
{% block menu_controles_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block menu_controle_actif %}active{% endblock %}
{% block menu_caisse_actif %}active{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('visite_controle') }}">Contrôles</a></li>
          <li class="breadcrumb-item">Rapport</li>
    </ol>
{% endblock %}
{% block pagetitle -%}RAPPORT DE VISITE{% endblock %}
{% block actions %}
    {% if is_granted('ROLE_CONTROLLEUR') %} 
        <label class="btn btn-outline-secondary"><a href="{{ path('visite_controle') }}">LISTE DES CONTROLES</a></label>
        <label class="btn btn-outline-secondary"><a  href="#" onclick="imprimer()" title="Imprimer le rapport">RAPPORT</a></label>
        {% if visite.succesMaha == true %} 
            <label class="btn btn-outline-secondary"><a  href="{{ path('contrevisitevisuelle', { 'id': visite.vehicule.id }) }}" title="CONTRE-VISITE VISUELLE">Contre-visite visuelle</a></label>
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_CAISSIER_PRINCIPAL') %} 
        <label class="btn btn-outline-secondary">
            <form method='POST' action='{{ path('contrevisite') }}'>
                <input type="hidden" name ="id" value ="{{ visite.vehicule.id }}" />
                <select name="piste">
                    {% for piste in pistes %}
                        <option value="{{ piste.id}}" {% if piste.id == visite.chaine.piste.id %}selected="selected" {% endif %}>Piste {{ piste.numero}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Contre-visite complète" />
            </form>
        </label>
    {% endif %}
{% endblock %}
{% block body %}
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Statut</th>
                <td>
                    {%if visite.statut == 0 %}EN ATTENTE DU PAIEMENT
                    {%elseif visite.statut == 1%}EN ATTENTE DU CONTROLE
                    {%elseif visite.statut == 2%}SUCCES - EN ATTENTE DU CERTIFICAT
                    {%elseif visite.statut == 3%}ECHEC - REVISITE AVANT LE {% if dateRevisite %}{{ dateRevisite|date('Y-m-d') }}{% endif %}
                    {%elseif visite.statut == 4%}CERTIFICAT DELIVRE
                    {%elseif visite.statut == 5%}ANNULEE
                    {% endif %}
                </td>
            </tr>
            
        </tbody>
    </table>
                <div id='rapport'>
                    <div>
    <span style="font-weight: bolder"><img src="{{ asset('images/mts.jpg', absolute=true) }}" /></span>
</div>
<div>
    <span style="font-weight: bolder">Date de contr&ocirc;le : {% if visite.date %}{{ visite.date|date('Y-m-d H:i:s') }}{% endif %}</span>
    <span style="float:right">Montant visite :{{ ((quittance.montantvisite*1.18)|round(0, 'ceil')+120)|number_format(0, ',', ' ') }}</span>
</div>
<div>
    <span style="font-weight: bolder">N&deg; de quittance : {{ quittance.numero }}</span>
    <span style="float:right">Jours de retard : {{ quittance.retard }}</span>
</div>
<div>
    <span style="font-weight: bolder">N&deg; Immatriculation : {{ visite.vehicule.immatriculation }}</span>
    <span style="float:right;background: #000;color:#fff;padding:10px">Montant p&eacute;nalit&eacute; : {{ ((quittance.penalite)|round(0, 'ceil'))|number_format(0, ',', ' ') }}</span>
</div>
<div style='margin-bottom:15px'>
    <span style="font-weight: bolder">N&deg; de chassis : {{ visite.vehicule.chassis }}</span>
</div>
<table border="1" style="width:100%;" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>Bilan de la visite technique</td>
            <td>D&eacute;tails</td>
            <td>Valeur controle</td>
            <td>R&eacute;sultat</td>
        </tr>
        {% if visite.resultats %}
            {% for resultat in visite.resultats %}
                {% if resultat.controle.type == "MESURE - VALEUR" or resultat.controle.type == "MESURE - INTERVALLE" %}
                    <tr>
                        <td>{{ resultat.controle.libelle }}</td>
                        <td>{{ resultat.controle.detail }}</td>
                        <td>{{ resultat.commentaire }} ({{ resultat.controle.unite }}) </td>
                        <td>{% if resultat.succes %}SUCCES{% else %}ECHEC{% endif %}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4" align="center">--</td>
                </tr>
            {% endfor %}
            {% for resultat in visite.resultats %}
                {% if resultat.controle.type != "MESURE - VALEUR" and resultat.controle.type != "MESURE - INTERVALLE" %}
                    <tr>
                        <td>{{ resultat.controle.libelle }}</td>
                        <td>{{ resultat.controle.detail }}</td>
                        <td>{{ resultat.commentaire }} ({{ resultat.controle.unite }}) </td>
                        <td>{% if resultat.succes %}SUCCES{% else %}ECHEC{% endif %}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4" align="center">--</td>
                </tr>
            {% endfor %}
        {% endif %}
     </tbody>
</table>
<div style='margin-top:15px'>
     Controle effectué par {{ visite.controlleur }}
</div>
<div style='margin-top:25px'>
    <span>RESULTAT DU CONTROLE VALABLE POUR LA CIRCULATION DU VEHICULE PENDANT {{ visite.vehicule.typeVehicule.delai }} JOURS SANS CERTIFICAT DE VISITE TECHNIQUE</span>
</div>
<div>
    <span>FRAIS A PAYER POUR LA REVISITE : {{ visite.vehicule.typeVehicule.getRevisiteTtc|round(0, 'ceil')|number_format(0, ',', ' ') }} FCFA</span>
</div>
            
                </div>
    <div class="hidden" id="printDiv">
        <div style="width:200mm">
            <div>
                <span style="font-weight: bolder"><img src="{{ asset('images/mts.jpg', absolute=true) }}" /></span>
            </div>
            <div>
                <span style="font-weight: bolder">Date de contr&ocirc;le : {% if visite.date %}{{ visite.date|date('Y-m-d H:i:s') }}{% endif %}</span>
                <span style="float:right">Montant visite : {{ ((quittance.montantvisite*1.18)|round(0, 'ceil')+120)|number_format(0, ',', ' ') }}</span>
            </div>
            <div>
                <span style="font-weight: bolder">N&deg; de quittance : {{ quittance.numero }}</span>
                <span style="float:right">Jours de retard : {{ quittance.retard }}</span>
            </div>
            <div>
                <span style="font-weight: bolder">N&deg; Immatriculation : {{ visite.vehicule.immatriculation }}</span>
                <span style="float:right;background: #000;color:#fff;padding:10px">Montant p&eacute;nalit&eacute; : {{ ((quittance.penalite)|round(0, 'ceil'))|number_format(0, ',', ' ') }}</span>
            </div>
            <div style='margin-bottom:15px'>
                <span style="font-weight: bolder">N&deg; de chassis : {{ visite.vehicule.chassis }}</span>
            </div>
            <table border="1" style="width:200mm;" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>Bilan de la visite technique</td>
                        <td>D&eacute;tails</td>
                        <td>Valeur controle</td>
                        <td>R&eacute;sultat</td>
                    </tr>
                    {% if visite.resultats %}
                        {% for resultat in visite.resultats %}
                            {% if not resultat.succes %}
                                <tr>
                                    <td>{{ resultat.controle.libelle }}</td>
                                    <td>{{ resultat.controle.detail }}</td>
                                    <td>{{ resultat.commentaire }} ({{ resultat.controle.unite }}) </td>
                                    <td>ECHEC</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                 </tbody>
            </table>
            <div style='margin-top:15px'>
                 Controle effctué par {{ visite.controlleur }}
            </div>
            <div style='margin-top:25px'>
                <span>RESULTAT DU CONTROLE VALABLE POUR LA CIRCULATION DU VEHICULE PENDANT {{ visite.vehicule.typeVehicule.delai }} JOURS SANS CERTIFICAT DE VISITE TECHNIQUE</span>
            </div>
            <div>
                <span>FRAIS A PAYER POUR LA REVISITE : {{ visite.vehicule.typeVehicule.getRevisiteTtc|round(0, 'ceil')|number_format(0, ',', ' ') }} FCFA</span>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts -%}
<script type="text/javascript">
        function printDiv(DivIdToPrint) 
{

  var divToPrint=document.getElementById(DivIdToPrint);

  var newWin=window.open('','Print-Window');

  newWin.document.open();

  newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

  newWin.document.close();

  setTimeout(function(){newWin.close();},10);

}
        function imprimer(){
            var printContents = document.getElementById('printDiv').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.style.backgroundColor = "white"
            document.body.innerHTML = printContents;
            window.print();
            document.body.style.backgroundColor = "rgb(228, 229, 230)";
            document.body.innerHTML = originalContents;
        }
</script>
{% endblock %}
