<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="SSInnovation">
    <meta name="keyword" content="SSInnovation">
    <title>{% block title %}AUTOSCAN{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/coreui-icons.min.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset('css/flag-icon.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" > 
    <link href="{{ asset('css/simple-line-icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/pace.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" />
      <style>
  .ui-autocomplete-loading {
    background: white url("{{ asset('images/ui-anim_basic_16x16.gif') }}") right center no-repeat;
  }
  </style>
    
     <!-- Datatable core CSS -->
    
    
    
    
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon-32x32.png') }}" />
   
  </head>
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">
        <img class="navbar-brand-full" src="{{ asset('images/mts.jpg') }}" width="89" height="25" alt="AUTOSCAN">
        <img class="navbar-brand-minimized" src="{{ asset('images/sygnet.svg') }}" width="30" height="30" alt="AUTOSCAN">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        {% if is_granted('ROLE_ENREGISTREMENT') %}
            <li class="nav-item px-3">
              <a class="nav-link {% block menu_enregistrement_actif %}{% endblock %}" href="{{ path('vehicule_index') }}">AIGUILLAGE</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_CAISSIER') %}
            <li class="nav-item px-3">
              <a class="nav-link {% block menu_caisse_actif %}{% endblock %}" href="{{ path('visite_quittance') }}">VISITES</a>
            </li>
        {% elseif is_granted('ROLE_CONTROLLEUR') %}
            <li class="nav-item px-3">
                <a class="nav-link {% block menu_controle_actif %}{% endblock %}" href="{{ path('visite_controle') }}">VISITES</a>
            </li>
        {% elseif is_granted('ROLE_DELIVRANCE') %}
            <li class="nav-item px-3">
                <a class="nav-link {% block menu_delivrance_actif %}{% endblock %}" href="{{ path('visite_delivrance') }}">VISITES</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_CAISSIER_PRINCIPAL') %}
        <li class="nav-item px-3">
          <a class="nav-link {% block menu_gestion_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_index') }}">GESTION</a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_SUPERVISEUR') %}
        <li class="nav-item px-3">
          <a class="nav-link {% block menu_parametres_actif %}{% endblock %}" href="{{ path('parametre_index') }}">PARAMETRES</a>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{app.user.username}} <img class="img-avatar" src="{{ asset('images/6.jpg') }}" alt="email user">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Mon profil</strong>
            </div>
            <a class="dropdown-item" href="{{ path('utilisateur_profil')}}">
              <i class="fa fa-refresh"></i> Voir le profil
            </a>
            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
              <i class="fa fa-eject"></i> Déconnexion
            </a>
          </div>
        </li>
      </ul>
      
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
              {% block menu %}{% endblock %}        
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <!-- Breadcrumb-->
        {% block ariane %}{% endblock %}
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
                {% block notification %}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-notice">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="flash-error">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endblock %}                           
            </div>
            <!-- /.row-->
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-5">
                    <h4 class="card-title mb-0">{% block pagetitle %}TITRE{% endblock %}</h4>
                  </div>
                  <!-- /.col-->
                  <div class="col-sm-7 d-none d-md-block">
                    <div class="btn-group btn-group-toggle float-right mr-3" >
                      {% block actions %}{% endblock %}
                    </div>
                  </div>
                  <!-- /.col-->
                </div>
                <!-- /.row-->
                
              </div>
              <div class="card-body">
                    {% block body %}{% endblock %}
              </div>
            </div>

          </div>
        </div>
      </main>
      
    </div>
    <footer class="app-footer">
      <div>
        <a href="#">MTS</a>
        <span>&copy; 2019.</span>
      </div>
    </footer>

    <!-- js placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <!-- jQuery UI 1.10.3 -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/perfect-scrollbar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/coreui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/custom-tooltips.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('js/Chart.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>

