{% extends 'base.html.twig' %}
{% block pagetitle -%}TABLEAU DE BORD{% endblock %}
{% block body %}
    <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-primary">
                  <div class="card-body pb-0">
                    <div class="btn-group float-right">
                      
                    </div>
                    <div class="text-value">{{ nbVehicule|number_format(0, ',', ' ') }}</div>
                    <div>Nombre de véhicule</div>
                  </div>
                  <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                  </div>
                </div>
              </div>
              <!-- /.col-->
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                  <div class="card-body pb-0">
                    <div class="text-value">{{ enCours|number_format(0, ',', ' ') }}</div>
                    <div>Visites en cours</div>
                  </div>
                  <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                  </div>
                </div>
              </div>
              <!-- /.col-->
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-warning">
                  <div class="card-body pb-0">
                    <div class="btn-group float-right">
                    </div>
                    <div class="text-value">{{ succes|number_format(0, ',', ' ') }}</div>
                    <div>Visites réussies</div>
                  </div>
                  <div class="chart-wrapper mt-3" style="height:70px;">
                  </div>
                </div>
              </div>
              <!-- /.col-->
              <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-danger">
                  <div class="card-body pb-0">
                    <div class="btn-group float-right">
                      
                    </div>
                    <div class="text-value">{{ echec|number_format(0, ',', ' ') }}</div>
                    <div>Visites échouées</div>
                  </div>
                  <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
    <div class="row">
        <div class="col-sm-5">
            <h4 class="card-title mb-0">Visites par mois</h4>
                <div class="small text-muted">{{ "now"|date("m/d/Y") }}</div>
        </div>
                  <!-- /.col-->
                  <div class="col-sm-7 d-none d-md-block">
                    <button class="btn btn-primary float-right" type="button">
                      <i class="icon-cloud-download"></i>
                    </button>
                    <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                      <label class="btn btn-outline-secondary">
                        <input id="option1" type="radio" name="options" autocomplete="off"> Day
                      </label>
                      <label class="btn btn-outline-secondary active">
                        <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
                      </label>
                      <label class="btn btn-outline-secondary">
                        <input id="option3" type="radio" name="options" autocomplete="off"> Year
                      </label>
                    </div>
                  </div>
                  <!-- /.col-->
                </div>  
    <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                  <canvas class="chart" id="main-chart" height="300"></canvas>
                </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/main.js') }}" type="text/javascript"></script>
{% endblock %}