<div>
    <span style="font-weight: bolder"><img src="{{ asset('images/mts.jpg', absolute=true) }}" /></span>
</div>
<div>
    <span style="font-weight: bolder">Date de contr&ocirc;le : {% if visite.date %}{{ visite.date|date('Y-m-d H:i:s') }}{% endif %}</span>
    <span style="float:right">Montant visite : {{ quittance.montantvisite }}</span>
</div>
<div>
    <span style="font-weight: bolder">N&deg; de quittance : {{ quittance.numero }}</span>
    <span style="float:right">Jours de retard : {{ quittance.retard }}</span>
</div>
<div>
    <span style="font-weight: bolder">N&deg; Immatriculation : {{ visite.vehicule.immatriculation }}</span>
    <span style="float:right;background: #000;color:#fff;padding:10px">Montant p&eacute;nalit&eacute; : {{ quittance.penalite }}</span>
</div>
<div style='margin-bottom:15px'>
    <span style="font-weight: bolder">N&deg; de chassis : {{ visite.vehicule.chassis }}</span>
</div>
<table border="1" style="width:1150px;" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td>Bilan de la visite technique</td>
            <td>D&eacute;tails</td>
            <td>Valeur controle</td>
            <td>R&eacute;sultat</td>
        </tr>
        {% if visite.resultats %}
            {% for resultat in visite.resultats %}
                <tr>
                    <td>{{ resultat.controle.libelle }}</td>
                    <td>{{ resultat.controle.detail }}</td>
                    <td>{{ resultat.commentaire }} ({{ resultat.controle.unite }}) </td>
                    <td>{% if resultat.succes %}SUCCES{% else %}ECHEC{% endif %}</td>
                </tr>
            {% endfor %}
        {% endif %}
     </tbody>
</table>
<div style='margin-top:15px'>
     Controle effctué par {{ visite.chaine.piste.getAffectationActive.agent.nomComplet }}
</div>
<div style='margin-top:25px'>
    <span>RESULTAT DU CONTROLE VALABLE POUR LA CIRCULATION DU VEHICULE PENDANT {{ visite.vehicule.typeVehicule.delai }} JOURS SANS CERTIFICAT DE VISITE TECHNIQUE</span>
</div>
            