{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::centre/menu.html.twig' %}
{% block menu_sorties_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_gestion_centre_sorties_index') }}">Opérations de caisse</a></li>
        <li class="breadcrumb-item">Détail</li>
    </ol>
{% endblock %}
{% block menu_gestion_actif %}active{% endblock %}
{% block pagetitle -%}DETAIL D'UNE OPERATION DE CAISSE{% endblock %}
{% block actions %}
    <label class="btn btn-outline-secondary"><a href="{{ path('admin_gestion_centre_sorties_index') }}">LISTER</a></label>
    <label class="btn btn-outline-secondary"><a href="{{ path('admin_gestion_centre_sorties_new') }}">CREER UNE OPERATION</a></label>
{% endblock %}
{% block body %}
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ sortieCaisse.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sortieCaisse.description }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ sortieCaisse.montant|number_format(0, ',', ' ') }}</td>
            </tr>
            <tr>
                <th>Ancien solde</th>
                <td>{{ sortieCaisse.ancienSolde|number_format(0, ',', ' ') }}</td>
            </tr>
            <tr>
                <th>Nouveau solde</th>
                <td>{{ sortieCaisse.nouveauSolde|number_format(0, ',', ' ') }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ sortieCaisse.commentaire }}</td>
            </tr>
            <tr>
                <th>Créé par</th>
                <td>{{ sortieCaisse.creePar }}</td>
            </tr>
            <tr>
                <th>Modifié par</th>
                <td>{{ sortieCaisse.modifierPar }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{% if sortieCaisse.dateCreation %}{{ sortieCaisse.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de dernière modification</th>
                <td>{% if sortieCaisse.dateModification %}{{ sortieCaisse.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
