{% extends '::base.html.twig' %}
{% block menu -%}
{% include '::vehicule/menu.html.twig' %}
{% endblock %}
{% block menu_enregistrement_actif %}active{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item">Véhicules</li>
    </ol>
{% endblock %}
{% block pagetitle -%}AIGUILLAGE DES VEHICULES{% endblock %}

{% block actions %}
    {% if is_granted('ROLE_ENREGISTREMENT') %}
        <label class="btn btn-outline-secondary"><a href="{{ path('vehicule_new') }}">ENREGISTRER</a></label>
    {% endif %}
    {% if is_granted('ROLE_SUPERVISEUR') %}
        <label class="btn btn-outline-secondary"><a href="{{ path('vehicule_export') }}">EXPORTER</a></label>
        <label class="btn btn-outline-secondary"><a href="{{ path('admin_parametres_vehicules_importer_new') }}">IMPORTER</a></label>
        <label class="btn btn-outline-secondary"><a href="{{ path('admin_parametres_vehicules_importer_date') }}">DATES</a></label>
    {% endif %}
{% endblock %}
{% block body -%}
    {% if centre.etat %} 
        <label class="btn btn-success pointer-event">LE CENTRE EST OUVERT</label>
    {% else %}
        <label class="btn btn-warning pointer-event">LE CENTRE EST FERME. ATTENDEZ SON OUVERTURE POUR POUVOIR AIGUILLER</label>
    {% endif %}
<div class="table-responsive">
    <label class="btn btn-warning pointer-event"> 
        <form method='POST' action='{{ path('vehicule_index') }}'>
            Immatriculation <input type="text" id="immatriculation" name="immatriculation" value="{{ immatriculation }}" /> 
            
            <input type="submit" value="Rechercher"/>
        </form>
    </label>
    {% if vehicules is not null%}
        {% if vehicules is empty %}
            Aucun véhicule trouvé. Merci de vérifier l'immatriculation ou procéder à l'enregistrement!
        {% else %}
            <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
                <thead>
                    <tr>
                        <th>Immatriculation</th>
                        <th>Chassis</th>
                        <th>Modèle</th>
                        <th>Propriétaire</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicule in vehicules %}
                        <tr>
                            <td>{{ vehicule.immatriculation }} </td>
                            <td>{{ vehicule.chassis }} </td>
                            <td>{{ vehicule.marque }} {{ vehicule.modele }}</td>
                            <td>
                                {% if vehicule.personneMorale == 0 %}
                                    {{ vehicule.nom }} {{ vehicule.prenom }}
                                {% else %}
                                    {{ vehicule.nom }} {{ vehicule.prenom }}
                                {% endif %}
                            </td>
                            <td>
                                <a title='Détail' class='btn btn-success' href="{{ path('vehicule_show', {'id':vehicule.id}) }}" ><i class='fa fa-search-plus'></i></a>
                                <a title='Modifier' class='btn btn-info' href="{{ path('vehicule_edit', {'id':vehicule.id}) }}" ><i class='fa fa-edit' ></i></a>
                                {% if is_granted('ROLE_ENREGISTREMENT') %}
                                    <a title='Supprimer' class='btn btn-danger' href="{{ path('vehicule_delete_a', {'id':vehicule.id}) }}"  onclick='return confirm("Confirmer la suppression?")'><i class='fa fa-trash-o'> </i></a><br/><br/>
                                {% endif %}
                                <a title='Aiguiller normal' class='btn btn-warning' href="{{ path('aiguiller', {'id':vehicule.id, 'type':0}) }}" ><i class='fa fa-compass'> </i></a>
                                <a title='Aiguiller spécial' class='btn btn-djib' href="{{ path('aiguiller', {'id':vehicule.id, 'type':1}) }}" ><i class='fa fa-star-o'> </i></a>
                                {% if is_granted('ROLE_CAISSIER_PRINCIPAL') %}
                                    <a title='Visite gratuite' class='btn btn-info' href="{{ path('aiguillerGratuit', {'id':vehicule.id, 'type':0}) }}"  ><i class='fa fa-free-code-camp'> </i></a><br/><br/>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Immatriculation</th>
                        <th>Chassis</th>
                        <th>Modèle</th>
                        <th>Propriétaire</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                </thead>
            </table>
        {% endif %}
    {% else %}
        Saisir au mois 4 charactères pour lancer la recherche!
    {% endif %}
</div>
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#immatriculation").focus();
        } );
        
    </script>
{% endblock %}
