{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parametrecertificat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parametreCertificat.id }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ parametreCertificat.version }}</td>
            </tr>
            <tr>
                <th>Largeurvolet1</th>
                <td>{{ parametreCertificat.largeurVolet1 }}</td>
            </tr>
            <tr>
                <th>Hauteurvolet1</th>
                <td>{{ parametreCertificat.hauteurVolet1 }}</td>
            </tr>
            <tr>
                <th>Vcertificat1</th>
                <td>{{ parametreCertificat.vcertificat1 }}</td>
            </tr>
            <tr>
                <th>Hcertificat1</th>
                <td>{{ parametreCertificat.hcertificat1 }}</td>
            </tr>
            <tr>
                <th>Vnom1</th>
                <td>{{ parametreCertificat.vnom1 }}</td>
            </tr>
            <tr>
                <th>Hnom1</th>
                <td>{{ parametreCertificat.hnom1 }}</td>
            </tr>
            <tr>
                <th>Wnom1</th>
                <td>{{ parametreCertificat.wnom1 }}</td>
            </tr>
            <tr>
                <th>Vadresse1</th>
                <td>{{ parametreCertificat.vadresse1 }}</td>
            </tr>
            <tr>
                <th>Hadresse1</th>
                <td>{{ parametreCertificat.hadresse1 }}</td>
            </tr>
            <tr>
                <th>Wadresse1</th>
                <td>{{ parametreCertificat.wadresse1 }}</td>
            </tr>
            <tr>
                <th>Vimmattriculation1</th>
                <td>{{ parametreCertificat.vimmattriculation1 }}</td>
            </tr>
            <tr>
                <th>Himmattriculation1</th>
                <td>{{ parametreCertificat.himmattriculation1 }}</td>
            </tr>
            <tr>
                <th>Wimmattriculation1</th>
                <td>{{ parametreCertificat.wimmattriculation1 }}</td>
            </tr>
            <tr>
                <th>Vserie1</th>
                <td>{{ parametreCertificat.vserie1 }}</td>
            </tr>
            <tr>
                <th>Hserie1</th>
                <td>{{ parametreCertificat.hserie1 }}</td>
            </tr>
            <tr>
                <th>Wserie1</th>
                <td>{{ parametreCertificat.wserie1 }}</td>
            </tr>
            <tr>
                <th>Largeurvolet2</th>
                <td>{{ parametreCertificat.largeurVolet2 }}</td>
            </tr>
            <tr>
                <th>Hauteurvolet2</th>
                <td>{{ parametreCertificat.hauteurVolet2 }}</td>
            </tr>
            <tr>
                <th>Vcertificat2</th>
                <td>{{ parametreCertificat.vcertificat2 }}</td>
            </tr>
            <tr>
                <th>Hcertificat2</th>
                <td>{{ parametreCertificat.hcertificat2 }}</td>
            </tr>
            <tr>
                <th>Vnom2</th>
                <td>{{ parametreCertificat.vnom2 }}</td>
            </tr>
            <tr>
                <th>Hnom2</th>
                <td>{{ parametreCertificat.hnom2 }}</td>
            </tr>
            <tr>
                <th>Wnom2</th>
                <td>{{ parametreCertificat.wnom2 }}</td>
            </tr>
            <tr>
                <th>Vadresse2</th>
                <td>{{ parametreCertificat.vadresse2 }}</td>
            </tr>
            <tr>
                <th>Hadresse2</th>
                <td>{{ parametreCertificat.hadresse2 }}</td>
            </tr>
            <tr>
                <th>Wadresse2</th>
                <td>{{ parametreCertificat.wadresse2 }}</td>
            </tr>
            <tr>
                <th>Vimmattriculation2</th>
                <td>{{ parametreCertificat.vimmattriculation2 }}</td>
            </tr>
            <tr>
                <th>Himmattriculation2</th>
                <td>{{ parametreCertificat.himmattriculation2 }}</td>
            </tr>
            <tr>
                <th>Wimmattriculation2</th>
                <td>{{ parametreCertificat.wimmattriculation2 }}</td>
            </tr>
            <tr>
                <th>Vserie2</th>
                <td>{{ parametreCertificat.vserie2 }}</td>
            </tr>
            <tr>
                <th>Hserie2</th>
                <td>{{ parametreCertificat.hserie2 }}</td>
            </tr>
            <tr>
                <th>Wserie2</th>
                <td>{{ parametreCertificat.wserie2 }}</td>
            </tr>
            <tr>
                <th>Largeurvolet3</th>
                <td>{{ parametreCertificat.largeurVolet3 }}</td>
            </tr>
            <tr>
                <th>Hauteurvolet3</th>
                <td>{{ parametreCertificat.hauteurVolet3 }}</td>
            </tr>
            <tr>
                <th>Vcertificat3</th>
                <td>{{ parametreCertificat.vcertificat3 }}</td>
            </tr>
            <tr>
                <th>Hcertificat3</th>
                <td>{{ parametreCertificat.hcertificat3 }}</td>
            </tr>
            <tr>
                <th>Vimmattriculation3</th>
                <td>{{ parametreCertificat.vimmattriculation3 }}</td>
            </tr>
            <tr>
                <th>Himmattriculation3</th>
                <td>{{ parametreCertificat.himmattriculation3 }}</td>
            </tr>
            <tr>
                <th>Vvalidite3</th>
                <td>{{ parametreCertificat.vvalidite3 }}</td>
            </tr>
            <tr>
                <th>Hvalidite3</th>
                <td>{{ parametreCertificat.hvalidite3 }}</td>
            </tr>
            <tr>
                <th>Creepar</th>
                <td>{{ parametreCertificat.creePar }}</td>
            </tr>
            <tr>
                <th>Modifierpar</th>
                <td>{{ parametreCertificat.modifierPar }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if parametreCertificat.deletedAt %}{{ parametreCertificat.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if parametreCertificat.dateCreation %}{{ parametreCertificat.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if parametreCertificat.dateModification %}{{ parametreCertificat.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_parametre_vehicule_certificat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_parametre_vehicule_certificat_edit', { 'id': parametreCertificat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
