
{% if is_granted('ROLE_CHEF_CENTRE') or is_granted('ROLE_CAISSIER_PRINCIPAL') %}     

            {% if is_granted('ROLE_CAISSIER_PRINCIPAL') %}
            <li class="nav-item ">
                <a class="nav-link {% block menu_parcaisse_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_statistique_caisse_index') }}">
                    <i class="nav-icon icon-list"></i> Etat par caisse</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% block menu_detail_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_statistique_detail_index') }}">
                    <i class="nav-icon icon-list"></i> Statistiques avancées</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% block menu_gratuite_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_statistique_visite_gratuite') }}">
                    <i class="nav-icon icon-list"></i> Visites gratuites</a>
            </li>
            {% endif %}
            <li class="nav-item ">
                <a class="nav-link {% block menu_recherche_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_statistique_visite_detail') }}">
                    <i class="nav-icon icon-list"></i> Recherche avancée</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% block menu_rapportcontroleur_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_statistique_controleur_index') }}">
                    <i class="nav-icon icon-list"></i> Rapport contrôleurs</a>
            </li>
{% endif %}