{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proprietaireimports list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proprietaireImport in proprietaireImports %}
            <tr>
                <td><a href="{{ path('admin_parametres_proprietaire_importer_show', { 'id': proprietaireImport.id }) }}">{{ proprietaireImport.id }}</a></td>
                <td>{{ proprietaireImport.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_parametres_proprietaire_importer_show', { 'id': proprietaireImport.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_parametres_proprietaire_importer_edit', { 'id': proprietaireImport.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_parametres_proprietaire_importer_new') }}">Create a new proprietaireImport</a>
        </li>
    </ul>
{% endblock %}
