{% extends '::baselogin.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<form method="post" class="form-login" action ="{{ path("fos_user_security_check") }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <h2 class="form-login-heading"><i class="fa fa-lock"></i> CONNEXION</h2>
    {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if error %}
            <div class='error'>{{ error }}</div>
        {% endif %}
    <div class="login-wrap">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="LOGIN" autofocus/>
        <br>
        <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="MOT DE PASSE" />
        <label class="checkbox">
            <span class="pull-right">
               <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </span>
        </label>
        <input  class="btn btn-theme btn-block"  type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>

{% endblock fos_user_content %}
