{% if is_granted('ROLE_SUPERVISEUR') %} 
<li class="nav-item">
    <a class="nav-link {% block menu_centres_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_index') }}">
        <i class="nav-icon fa fa-home"></i> Gestion du centre
    </a>
</li>
{% endif %}
{% if is_granted('ROLE_CHEF_CENTRE') or is_granted('ROLE_CAISSIER_PRINCIPAL') %} 
    <li class="nav-item">
        <a class="nav-link {% block menu_ouvertures_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_ouverture') }}">
            <i class="nav-icon fa fa-key"></i> Ouverture du centre
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block menu_sorties_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_sorties_index') }}">
            <i class="nav-icon fa fa-calculator"></i> Opérations de coffre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block menu_affectationcaisse_actif %}{% endblock %}" href="{{ path('admin_gestion_affectation_index') }}">
        <i class="nav-icon fa fa-bank"></i> Affectation aux caisses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% block menu_affectationpiste_actif %}{% endblock %}" href="{{ path('admin_gestion_affectationpiste_index') }}">
            <i class="nav-icon fa fa-road"></i> Affectation aux pistes</a>
    </li>
    <li class="nav-item nav-dropdown {% block menu_certificats_open %}{% endblock %}">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon fa fa-envelope"></i> Certificats</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link {% block menu_affectationcertificat_actif %}{% endblock %}" href="{{ path('centre_certificat') }}">
                        <i class="nav-icon fa fa-ticket"></i> Lots</a>
                </li>
               <li class="nav-item">
                    <a class="nav-link {% block menu_rapportcertificat_actif %}{% endblock %}" href="{{ path('centre_certificat') }}">
                        <i class="nav-icon fa fa-ticket"></i> Rapport</a>
                </li>
            </ul>
    </li>
    <li class="nav-item nav-dropdown {% block menu_historiques_open %}{% endblock %}">
        <a class="nav-link nav-dropdown-toggle" href="#">
            <i class="nav-icon fa fa-history"></i> Historique</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item ">
                    <a class="nav-link {% block menu_historiquevehicule_actif %}{% endblock %}" href="{{ path('admin_gestion_centre_historique_index') }}">
                        <i class="nav-icon icon-list"></i> Véhicules</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link {% block menu_quittance_actif %}{% endblock %}" href="{{ path('caisse_quittance_index') }}">
                        <i class="nav-icon icon-list"></i> Quittances</a>
                </li>
                {% if is_granted('ROLE_SUPERVISEUR') %}
                <li class="nav-item ">
                    <a class="nav-link {% block menu_quittance_historique_actif %}{% endblock %}" href="{{ path('admin_gestion_quittance_historique') }}">
                        <i class="nav-icon icon-list"></i> Historique</a>
                </li>
                {% endif %}
                
            </ul>
    </li>    
    
{% endif %}