{% extends '::base.html.twig' %}

{% block ariane -%}<a href="{{ path('homepage') }}">Accueil</a> > <a href="{{ path('affaire_index') }}">Affaires</a> > Modifier{% endblock %}
{% block pagetitle -%}MODIFIER UNE AFFAIRE{% endblock %}
{% block menu_affaire_actif %}active{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

{% endblock %}

{% block retour %} 
    <a href="{{ path('affaire_index') }}">
        Retour à la liste
    </a>
{% endblock %}
{% block javascripts -%}
<script type="text/javascript">
        $(document).ready(function() {

             $( "#appbundle_affaire_searchclient" ).autocomplete({
                 source : function(requete, reponse){
                            $.ajax({
                                    url : '{{ path('clients_ajax') }}', 
                                    dataType : 'json',
                                    data : {
                                        search : $('#appbundle_affaire_searchclient').val(),
                                        maxRows : 15
                                    },
                                    success : function(donnee){
                                        reponse($.map(donnee, function(objet){
                                             return {
                                                 nom :objet.nom,
                                                 prenom : objet.prenom,
                                                 telephone : objet.telephone,
                                                 id : objet.id
                                             };
                                        }));
                                    }
                                });
                            },
                            select: function (event, ui) {
                                $( "#appbundle_affaire_searchclient" ).val( ui.item.prenom + ' '+ ui.item.nom + ' '+ ui.item.telephone );
                                $( "#appbundle_bien_clientid" ).val( ui.item.id );
                                 return false;
                            }
              }).data('ui-autocomplete')._renderItem = function (ul, item) {
                            return $("<li />")
                                .data("item.autocomplete", item)
                                .append(item.prenom + ' '+ item.nom + ' '+ item.telephone + "</a>")
                                .appendTo(ul);
               };
               
               $( "#appbundle_affaire_searchbien" ).autocomplete({
                 source : function(requete, reponse){
                            $.ajax({
                                    url : '{{ path('biens_ajax') }}', 
                                    dataType : 'json',
                                    data : {
                                        search : $('#appbundle_affaire_searchbien').val(),
                                        maxRows : 15
                                    },
                                    success : function(donnee){
                                        reponse($.map(donnee, function(objet){
                                             return {
                                                 nom :objet.nom,
                                                 prenom : objet.prenom,
                                                 telephone : objet.telephone,
                                                 libelle : objet.libelle,
                                                 id : objet.id
                                             };
                                        }));
                                    }
                                });
                            },
                            select: function (event, ui) {
                                $( "#appbundle_affaire_searchbien" ).val( ui.item.libelle + ' '+ ui.item.prenom + ' '+ ui.item.nom + ' '+ ui.item.telephone );
                                $( "#appbundle_affaire_bienid" ).val( ui.item.id );
                                 return false;
                            }
              }).data('ui-autocomplete')._renderItem = function (ul, item) {
                            return $("<li />")
                                .data("item.autocomplete", item)
                                .append(item.libelle + ' '+ item.prenom + ' '+ item.nom + ' '+ item.telephone + "</a>")
                                .appendTo(ul);
               };              
            
        } );
    </script>
{% endblock %}