{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::centre/menu.html.twig' %}
{% block menu_recherche_actif %}active{% endblock %}
{% block menu_statistiques_open %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item">Recherche avancée</li>
    </ol>
{% endblock %}
{% block menu_gestion_actif %}active{% endblock %}
{% block pagetitle -%}RECHERCHE AVANCEE DES VISITES{% endblock %}
{% block actions %}
    <label class="btn btn-outline-secondary pointer-event">
        <a  href="#" id="doPrint" onclick="imprimer()">IMPRIMER</a><br/>
    </label>
    <label class="btn btn-warning pointer-event"> 
        <form method='POST' action='{{ path('admin_gestion_centre_statistique_visite_detail') }}'>
            <table align="left">
                <tr align="left">
                    <td>Du </td>
                    <td><input type="text" id="debut" name="debut" value="{{ debut }}" /></td>
                </tr>
                <tr align="left">
                    <td>Au </td>
                     <td><input type="text" id="fin" name="fin" value="{{ fin }}" /></td>
                </tr>
                <tr align="left">
                    <td>Controleur </td>
                    <td><input type="text" id="controleur" name="controleur" value="{{ controleur }}"/></td>
                </tr>
                <tr align="left">
                    <td>Caissier </td>
                    <td><input type="text" id="caissier" name="caissier" value="{{ caissier }}"/></td>
                </tr>
                <tr align="left">
                    <td>Résultat</td>
                    <td>
                        <select id="type" name="type" style="margin-left : 0">
                            <option value='0' {% if type == 0 %}selected{% endif %}>Tout</option>
                            <option value='1' {% if type == 1 %}selected{% endif %}>Réussite</option>
                            <option value='2' {% if type == 2 %}selected{% endif %}>Echec</option>
                            <option value='3' {% if type == 3 %}selected{% endif %}>A faire</option>
                        </select>
                    </td>
                </tr>
                <tr align="left">
                    <td>Immatriculation </td>
                    <td><input type="text" id="immatriculation" name="immatriculation" value="{{ immatriculation }}"/></td>
                </tr>
                <tr align="left">
                    <td><input  type="submit" value="Actualiser"/></td>
                </tr>
            </table>
        </form>
    </label>
{% endblock %}
{% block body -%}
    <div class="table-responsive" id="printDiv">
        <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
            <thead>
                <tr>
                     <th colspan="2" style="text-align:left;vertical-align: middle">
                        DU : {{ debut }} AU : {{ fin }}
                    </th>
                    <th colspan="3"  style="text-align:left;vertical-align: middle">
                        CENTRE : {{ libelle }}
                    </th>
                    
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <th>Immatriculation</th>
                    <th>Aiguilleur</th>
                    <th>Caissier</th>
                    <th>Controleur</th>
                    <th>Date controle</th>
                    <th>Statut</th>
                    <th>Montant</th>
                    <th>Type visite</th>
                    <th>Quittance</th>
                </tr>
            </thead>
            <tbody>
                {% set total = 0 %}
                {% for visite in visites %}
                    <tr {% if visite.contreVisite  == true %}style="backgroun:yellow"{% endif %}>
                        <td>
                            {% if visite.contreVisite  == true %}
                                <a target="_blank" href="{{ path('visite_show', { 'id': visite.visiteParent.id })}}" title="Voir la première visite">{{ visite.vehicule.typeVehicule.libelle }}</a>
                            {% else %}
                                {{ visite.vehicule.typeVehicule.libelle }}
                            {% endif %}
                        </td>
                        <td>
                            {% if visite.immatriculation_v is not null %} 
                                {{ visite.immatriculation_v }} 
                            {%  else %}
                                {{ visite.vehicule.immatriculation }}
                            {%  endif %}
                            <br/>{% if visite.vehicule.getDernierModificateur != "" %} ({{ visite.vehicule.getDernierModificateur }}){% endif %}
                        </td>
                        <td>{{ visite.getAgentAiguilleur }}</td>
                        <td>
                            {% if visite.contreVisite  == true %}
                                {{ visite.visiteParent.quittance.getCaisserEncaissement }}
                            {% else %}
                                {{ visite.quittance.getCaisserEncaissement }}
                            {% endif %}
                        </td>
                        <td>{{ visite.controlleur }}</td>
                        <td>{% if visite.dateControle %}{{ visite.dateControle|date('Y-m-d H:m:s') }}{% endif %}</td>
                        <td>
                            {% if visite.statut == 0 or visite.statut == 1 %}
                                A FAIRE
                            {% elseif visite.statut == 2 or visite.statut == 4 %}
                                SUCCESS
                            {% elseif visite.statut == 3%}
                                ECHEC
                            {% elseif visite.statut == 5 %}
                                ANNULE
                            {% else %}
                                ERREUR
                            {% endif %}
                        </td>
                        {% if visite.contreVisite == true %}
                            {% set montant = (visite.visiteParent.quittance.montantVisite+visite.visiteParent.quittance.tva+visite.visiteParent.quittance.timbre)|round(0, 'ceil') %}
                            {% set quittance = visite.visiteParent.quittance.numero %}
                        {% else %}
                            {% set montant = (visite.quittance.montantVisite+visite.quittance.tva+visite.quittance.timbre)|round(0, 'ceil') %}
                            {% set quittance = visite.quittance.numero %}
                        {% endif %}
                        {% set total = total + montant %}
                        <td>{{ montant }}</td>
                        <td>{% if visite.contreVisite == true %}CONTREVISITE{% elseif visite.revisite %}REVISITE{% else %} VISITE {% endif %}</td>
                        <td>{{ quittance }}</td>
                        </tr>
                        
                {% endfor %}
                <tr>
                            <th colspan="2">NB VISITES TOTAL : {{ visites|length|number_format(0, ',', ' ') }}</th>
                            <th colspan="2">MONTANT TOTAL : {{ total|number_format(0, ',', ' ') }}</th>
                        </tr>
            </tbody>            
        </table>
    </div>
    
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        $( function() {
            $( "#debut" ).datepicker({changeMonth: true, changeYear: true, defaultDate: "+0Y", dateFormat: 'dd-mm-yy' });
            $( "#fin" ).datepicker({changeMonth: true, changeYear: true, defaultDate: "+0Y", dateFormat: 'dd-mm-yy' });
           
        });
        function imprimer(){
            var printContents = document.getElementById('printDiv').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.style.backgroundColor = "white"
            document.body.innerHTML = printContents;
            window.print();
            document.body.style.backgroundColor = "rgb(228, 229, 230)"
            document.body.innerHTML = originalContents;
        }    
    </script>
{% endblock %}
