{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::visite/menu.html.twig' %}
{% block menu_caissier_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block menu_caisse_actif %}active{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item">Etat journalier</li>
    </ol>
{% endblock %}
{% block menu_gestion_actif %}active{% endblock %}
{% block pagetitle -%}ETAT JOURNALIER DE LA CAISSE {{ caisse.numero }}{% endblock %}
{% block actions %}
    {#<label class="btn btn-warning pointer-event"> 
        <form method='POST' action='{{ path('centre_gestion_statistiques_caissier_etat') }}'>
            Du <input type="text" id="debut" name="debut" value="{{ debut }}" /> 
            Au <input type="text" id="fin" name="fin" value="{{ fin }}" />
            <input type="submit" value="Actualiser"/>
        </form>
    </label>#}
{% endblock %}
{% block body -%}
    {% if resultats is not empty %}
        {% for affectation in resultats %}
            <div class="table-responsive" id="{{ affectation[0] }}" style="width:200mm">
                <label class="btn btn-outline-secondary pointer-event"><a  href="#" id="doPrint{{ affectation[0] }}" onclick="imprimer('{{ affectation[0] }}')">IMPRIMER</a></label>
                <table border="1" style="width:100%; text-align: center" id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
                    <thead>
                        <tr>
                            <th style="text-align:left">
                                <img src="{{ asset('images/logocertificat.PNG', absolute=true) }}" />
                            </th>
                             <th  style="text-align:left;vertical-align: middle">
                                DATE : {{ debut }}
                            </th>
                            <th  style="text-align:left;vertical-align: middle">
                                CAISSE N° : {{ caisse.numero }}
                            </th>
                            <th colspan="4" style="text-align:left;vertical-align: middle">
                                CAISSIER : {{ affectation[5] }}<br/>
                                AFFECTE LE : {{ affectation[3]|date('d-m-Y H:i:s') }}<br/>
                               {% if affectation[2] == "En cours"  %}EN COURS{%  else %}TERMINE LE :  {{ affectation[2]|date('d-m-Y H:i:s') }}{% endif %}
                            </th>
                        </tr>
                        <tr>
                            <th>Catégories</th>
                            <th>Nbr visites</th>
                            <th>Nbr revisites</th>
                            <th>CA visites</th>
                            <th>CA revisites</th>
                            <th>ANASER</th>
                            <th>CA Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ligne in affectation[1] %}
                        <tr>
                            {% for element in ligne %}
                                <td>
                                    {% if loop.index == 1 %}
                                        {{ element }}
                                    {% else %}
                                        {{ element|number_format(0, ',', ' ') }}
                                    {% endif %}
                                </td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                            <tr>
                                <td>{{ affectation[4][0] }}</td>
                                <td>{{ affectation[4][1]|number_format(0, ',', ' ') }}</td>
                                <td>{{ affectation[4][2]|number_format(0, ',', ' ') }}</td>
                                <td>{{ affectation[4][3]|number_format(0, ',', ' ') }}</td>
                                <td>{{ affectation[4][4]|number_format(0, ',', ' ') }}</td>
                                <td>{{ affectation[4][5]|number_format(0, ',', ' ') }}</td>
                                <td>{{ affectation[4][6]|number_format(0, ',', ' ') }}</td>
                            </tr>

                    </tbody>
                    <tfoot>
                        <tr><th colspan="7" style="text-align:right;border-bottom: none">Signature et cachet du caissier</th></tr>
                    </tfoot>
                </table>
            </div>
        {% endfor %}
    {% else %}
        Il n'y a pas encore d'activités sur cette caisse aujourd'hui.
    {% endif %}
    
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        $( function() {
            $( "#debut" ).datepicker({changeMonth: true, changeYear: true, defaultDate: "+0Y", dateFormat: 'dd-mm-yy' });
            $( "#fin" ).datepicker({changeMonth: true, changeYear: true, defaultDate: "+0Y", dateFormat: 'dd-mm-yy' });
           
        });
        function imprimerTout(){
            var printContents = document.getElementById('printDiv').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.style.backgroundColor = "white"
            document.body.innerHTML = printContents;
            window.print();
            document.body.style.backgroundColor = "rgb(228, 229, 230)"
            document.body.innerHTML = originalContents;
        }
        
        function imprimer(id){
            var printContents = document.getElementById(id).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.style.backgroundColor = "white"
            document.body.innerHTML = printContents;
            window.print();
            document.body.style.backgroundColor = "rgb(228, 229, 230)"
            document.body.innerHTML = originalContents;
        }

    </script>
{% endblock %}
