{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::centre/menu.html.twig' %}
{% block menu_parcaisse_actif %}active{% endblock %}
{% block menu_parcaisse_open %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item">Etast journaliers des caisses</li>
    </ol>
{% endblock %}
{% block menu_gestion_actif %}active{% endblock %}
{% block pagetitle -%}CAISSE {{ caisse.numero }}{% endblock %}
{% block actions %}
{% endblock %}
{% block body -%}
    <div class="table-responsive">
        <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
            <thead>
                <tr>
                    <th>Catégories</th>
                    <th>Nombre de visites</th>
                    <th>Nombre de revisites</th>
                    <th>Montant des visites</th>
                    <th>Montant des revisites</th>
                    <th>Chiffre d'affaire</th>
                </tr>
            </thead>
            <tbody>
                {% for resultat in resultats %}
                    <tr>
                        <td>{{ resultat[0] }}</td>
                        <td>{{ resultat[1] }}</td>
                        <td>{{ resultat[2] }}</td>
                        <td>{{ resultat[3] }}</td>
                        <td>{{ resultat[4] }}</td>
                        <td>{{ resultat[5] }}</td>
                    </tr>
                {% endfor %}
            
            </tbody>
            
        </table>
    </div>
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        
    </script>
{% endblock %}
