{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::satistique/menu.html.twig' %}
{% block menu_statistiques_open %}active{% endblock %}
{% block menu_parcaisse_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item">Etast journaliers des caisses</li>
    </ol>
{% endblock %}
{% block menu_rapports_actif %}active{% endblock %}
{% block pagetitle -%}ETAT DE TOUTES LES CAISSES{% endblock %}
{% block actions %}
    <label class="btn btn-outline-secondary pointer-event"><a  href="#" id="doPrint" onclick="imprimer()">IMPRIMER</a></label>
    <label class="btn btn-warning pointer-event"> 
        <form method='POST' action='{{ path('centre_gestion_statistiques_caisse_etat', { 'id': '*' }) }}'>
            Du <input type="text" id="debut" name="debut" value="{{ debut }}" /> 
            Au <input type="text" id="fin" name="fin" value="{{ fin }}" />
            <input type="submit" value="Actualiser"/>
        </form>
    </label>
{% endblock %}
{% block body -%}
    <div class="table-responsive">
        <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
            <thead>
                <tr>
                    <th style="text-align:left">
                        <img src="{{ asset('images/logocertificat.PNG', absolute=true) }}" />
                    </th>
                     <th  style="text-align:left;vertical-align: middle">
                        DU : {{ debut }} AU : {{ fin }}
                    </th>
                    <th  style="text-align:left;vertical-align: middle">
                        CAISSE N° : TOUTES LES CAISSES
                    </th>
                    <th colspan="4" style="text-align:left;vertical-align: middle">
                        CAISSIER : TOUTES LES CAISSES
                    </th>
                </tr>
                <tr>
                    <th>Catégories</th>
                    <th>Nbr visites</th>
                    <th>Nbr revisites</th>
                    <th>CA visites</th>
                    <th>CA revisites</th>
                    <th>ANASER</th>
                    <th>CA Total</th>
                </tr>
            </thead>
            <tbody>
                {% for resultat in resultats %}
                    <tr>
                        <td>{{ resultat[0] }}</td>
                        <td>{{ resultat[1]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[2]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[3]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[4]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[5]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[6]|number_format(0, ',', ' ') }}</td>
                    </tr>
                {% endfor %}
            
            </tbody>
            
        </table>
    </div>
                <div class="hidden" id="printDiv">
                    <div class="table-responsive" style="width:200mm">
        <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
            <thead>
                <tr>
                    <th style="text-align:left">
                        <img src="{{ asset('images/logocertificat.PNG', absolute=true) }}" />
                    </th>
                     <th  style="text-align:left;vertical-align: middle">
                        DU : {{ debut }} AU : {{ fin }}
                    </th>
                    <th  style="text-align:left;vertical-align: middle">
                        CAISSE N° : TOUTES LES CAISSES
                    </th>
                    <th colspan="4" style="text-align:left;vertical-align: middle">
                        CAISSIER : TOUTES LES CAISSES
                    </th>
                </tr>
                <tr>
                    <th>Catégories</th>
                    <th>Nbr visites</th>
                    <th>Nbr revisites</th>
                    <th>CA visites</th>
                    <th>CA revisites</th>
                    <th>ANASER</th>
                    <th>CA Total</th>
                </tr>
            </thead>
            <tbody>
                {% for resultat in resultats %}
                    <tr>
                        <td>{{ resultat[0] }}</td>
                        <td>{{ resultat[1]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[2]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[3]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[4]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[5]|number_format(0, ',', ' ') }}</td>
                        <td>{{ resultat[6]|number_format(0, ',', ' ') }}</td>
                    </tr>
                {% endfor %}
            
            </tbody>
            
        </table>
    </div>
                </div>
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        $( function() {
            $( "#debut" ).datepicker({changeMonth: true, changeYear: true, defaultDate: "+0Y", dateFormat: 'dd-mm-yy' });
            $( "#fin" ).datepicker({changeMonth: true, changeYear: true, defaultDate: "+0Y", dateFormat: 'dd-mm-yy' });
           
        });
        function imprimer(){
            var printContents = document.getElementById('printDiv').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.style.backgroundColor = "white"
            document.body.innerHTML = printContents;
            window.print();
            document.body.style.backgroundColor = "rgb(228, 229, 230)"
            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock %}
