{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::centre/menu.html.twig' %}
{% block menu_quittances_open %}active{% endblock %}
{% block menu_quittance_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item">Quittances</li>
    </ol>
{% endblock %}
{% block menu_gestion_actif %}active{% endblock %}
{% block pagetitle -%}QUITTANCES{% endblock %}
{% block body -%}
    <div class="table-responsive">
        <label class="btn btn-warning pointer-event"> 
            <form method='POST' action='{{ path('caisse_quittance_index') }}'>
                Immatriculation <input type="text" id="immatriculation" name="immatriculation" value="{{ immatriculation }}" /> 
                <input type="submit" value="Rechercher"/>
            </form>
        </label>
    {% if quittances is not null%}
        {% if quittances is empty %}
            Aucune quittance trouvée pour ce véhicule!
        {% else %}
            <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
                <thead>
                    <tr>
                        <th>Véhicule</th>
                        <th>Propriétaire</th>
                        <th>Caisse</th>
                        <th>Montant</th>
                        <th>N° Quittance</th>
                        <th>Actions</th>
                        {% for quittance in quittances %}
                        <tr>
                            <td>{{ quittance.immatriculation }}</td>
                            <td>{{ quittance.immatriculation }}</td>
                            <td>{{ quittance.caisse }}</td>
                            <td>{{ quittance.ttc }}</td>
                            <td>{{ quittance.numero }}</td>
                            <td>
                                {% if quittance.visite.statut < 2 %}
                                    <a title='Rembourser' onclick='rembourser({{ quittance.id }})' class='btn btn-info' href='#'><i class='fa fa-edit' ></i></a>
                                {% elseif quittance.visite.statut < 5 %}
                                    Déjà contrôlé
                                {% else %}
                                    Déjà annulée"
                                {% endif %}
                                <a title='Quittance' class='btn btn-success' href="{{ path('caisse_quittance_show_principal', { 'id': quittance.id })}}"><i class='fa fa-credit-card' ></i> Voir</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>        
                </tbody>
                <tfoot>
                    <tr>
                        <th>Véhicule</th>
                        <th>Propriétaire</th>
                        <th>Caisse</th>
                        <th>Montant</th>
                        <th>N° Quittance</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
    {% else %}
        Saisir au mois 4 charactères pour lancer la recherche!
    {% endif %}
    </div>
        <div id="remboursement-modal" title="REMBOURSEMENT"></div>
{% endblock %}

{% block javascripts -%}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#immatriculation").focus();
        } );
        function rembourser(id){
            var options = {
                modal: true,
                height:500,
                width:700,
                buttons: {
                    "Rembourser": function() {
                        $(location).attr('href', '{{ app.request.getSchemeAndHttpHost()~ app.request.baseUrl }}/admin/gestion/centre/'+id+'/rembourser/principal');
                    },
                    Annuler: function() {
                        $( this ).dialog( "close" );
                    }
                }
            };
            $('#remboursement-modal').html("<img src='{{ asset('images/loader.gif') }}' />");
            $('#remboursement-modal').load('{{ app.request.getSchemeAndHttpHost()~ app.request.baseUrl }}/admin/gestion/centre/'+id+'/rembourser/principal/confirmer').dialog(options).dialog('open');
        }
        
    </script>
{% endblock %}

