{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::centre/menu.html.twig' %}
{% block menu_quittance_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block menu_gestion_actif %}active{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
          <li class="breadcrumb-item"><a href="{{ path('caisse_quittance_index') }}">Quittances</a></li>
          <li class="breadcrumb-item">Détail de la Quittance</li>
    </ol>
{% endblock %}
{% block pagetitle -%}VOIR UNE QUITTANCE{% endblock %}
{% block actions %}
    <label class="btn btn-outline-secondary"><a href="{{ path('caisse_quittance_index') }}">LISTER</a></label>
    {% if quittance.paye %}
        <label class="btn btn-outline-secondary"><a  href="#" onclick="imprimer()">IMPRIMER</a></label>
    {% endif %}
    <label class="btn btn-outline-secondary">
        {% if quittance.paye %}<a href="#" title="Rembourser" onclick="rembourser({{ quittance.id }})">REMBOURSER</a>
        {% else %}<a onclick="return confirm('Veuiller confirmer l\'encaissement de la quittance N° {{quittance.numero}}');" href="{{ path('caisse_quittance_encaisser', { 'id': quittance.id }) }}">ENCAISSER</a>
        {% endif %}
    </label>
{% endblock %}
{% block body %}
    <div id='quittance' style="size: A4;margin:0;width:200mm;overflow:hidden;">
    <div style="margin:0">
    <span style="font-weight: bolder">N&deg; {{ quittance.numero }} - {%if quittance.rembourse %}REMBOURSEE{% elseif quittance.paye %}PAYEE{% else %}NON PAYEE{% endif %}</span>
    <span style="margin-left:100px; font-weight:bolder;font-size:20px">QUITTANCE</span>
    <span style="margin-left:25px; font-weight: bolder">NIF 86100089D</span>
    <span style="float:right"><img src="{{ asset('images/mts.jpg', absolute=true) }}" /></span>
</div>
<div>
    
</div>
<table border="1" style="width:100%;" cellpadding="0" cellspacing="0">
     <tbody>
         <tr>
            <td colspan="7" style="border:none; padding:5px">
                <span style="font-weight: bold">CVT : {{libelle}}</span> <span style="font-weight: bold">| Caisse : {{quittance.visite.chaine.caisse.numero}} | Piste : {{quittance.visite.chaine.piste.numero}}</span>
                <span style="margin-left:80px; font-weight:bold;">Type/Marque : {%if quittance.visite.vehicule.modele%}{{ quittance.visite.vehicule.modele.libelle}}/{{quittance.visite.vehicule.modele.marque.libelle }}{%endif%}</span>
            </td>
         </tr>
            <tr>
                <td colspan="7" style="border:none; padding:5px">
                    <span style="font-weight: bold">Date : {% if quittance.dateCreation %}{{ quittance.dateCreation|date('Y-m-d') }}{% endif %}</span>
                    <span style="margin-left:280px; font-weight:bold;">Immatriculation : {{ quittance.visite.vehicule.immatriculation }}</span>
                </td>
            </tr>
            <tr>
                <th>Quantit&eacute;</th>
                <th>Prix Unitaire</th>
                <th>Prix total</th>
                <th>TVA 18%</th>
                <th>Droit de timbre</th>
                <th>Total TTC</th>
                <th>Caissier</th>
            </tr>
            <tr style="text-align: center">
                <td>1</td>
                <td>{{ quittance.montantVisite|number_format(0, ',', ' ') }}</td>
                <td>{{ quittance.montantVisite|number_format(0, ',', ' ') }}</td>
                <td>{{ quittance.tva|number_format(0, ',', ' ') }}</td>
                <td>{{ quittance.timbre|number_format(0, ',', ' ')}}</td>
                <td>{{ (quittance.montantVisite+quittance.tva+quittance.timbre)|round(0, 'ceil')|number_format(0, ',', ' ')  }}</td>
                <td>{% if quittance.caissier is not null %}{{ quittance.caissier.nomComplet }} {% else %}   {{ quittance.creePar }} {% endif %}</td>
            </tr>
     </tbody>
</table>
    </div>   
    <div id="printDiv" class="hidden">
    <div style="size: A4;margin:0;width:200mm;margin-top:300px;-webkit-transform: rotate(-90deg);-moz-transform:rotate(-90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);">
        <div style="margin:0">
            <span style="font-weight: bolder">N&deg; {{ quittance.numero }} - {%if quittance.rembourse %}REMBOURSEE{% elseif quittance.paye %}PAYEE{% else %}NON PAYEE{% endif %}</span>
            <span style="margin-left:100px; font-weight:bolder;font-size:20px">QUITTANCE</span>
            <span style="margin-left:25px; font-weight: bolder">NIF 86100089D</span>
            <span style="float:right"><img src="{{ asset('images/mts.jpg', absolute=true) }}" /></span>
        </div>
    <div>

    </div>
    <table border="1" style="width:100%;" cellpadding="0" cellspacing="0">
         <tbody>
             <tr>
                <td colspan="7" style="border:none; padding:5px">
                    <span style="font-weight: bold">CVT : {{libelle}}</span> <span style="font-weight: bold">| Caisse : {{quittance.visite.chaine.caisse.numero}} | Piste : {{quittance.visite.chaine.piste.numero}}</span>
                    <span style="margin-left:80px; font-weight:bold;">Type/Marque : {%if quittance.visite.vehicule.modele%}{{ quittance.visite.vehicule.modele.libelle}}/{{quittance.visite.vehicule.modele.marque.libelle }}{%endif%}</span>
                </td>
             </tr>
                <tr>
                    <td colspan="7" style="border:none; padding:5px">
                        <span style="font-weight: bold">Date : {% if quittance.dateCreation %}{{ quittance.dateCreation|date('Y-m-d') }}{% endif %}</span>
                        <span style="margin-left:280px; font-weight:bold;">Immatriculation : {{ quittance.visite.vehicule.immatriculation }}</span>
                    </td>
                </tr>
                <tr>
                    <th>Quantit&eacute;</th>
                    <th>Prix Unitaire</th>
                    <th>Prix total</th>
                    <th>TVA 18%</th>
                    <th>Droit de timbre</th>
                    <th>Total TTC</th>
                    <th>Caissier</th>
                </tr>
                <tr style="text-align: center">
                    <td>1</td>
                    <td>{{ quittance.montantVisite|number_format(0, ',', ' ') }}</td>
                    <td>{{ quittance.montantVisite|number_format(0, ',', ' ') }}</td>
                    <td>{{ quittance.tva|number_format(0, ',', ' ') }}</td>
                    <td>{{ quittance.timbre|number_format(0, ',', ' ')}}</td>
                    <td>{{ (quittance.montantVisite+quittance.tva+quittance.timbre)|round(0, 'ceil')|number_format(0, ',', ' ')  }}</td>
                    <td>{% if quittance.caissier is not null %}{{ quittance.caissier.nomComplet }} {% else %}   {{ quittance.creePar }} {% endif %}</td>
                </tr>
         </tbody>
    </table>
    </div>
    </div>
    <div id="remboursement-modal" title="REMBOURSEMENT"></div>
{% endblock %}
{% block javascripts -%}
    <script type="text/javascript">
        function printDiv(DivIdToPrint) 
{

  var divToPrint=document.getElementById(DivIdToPrint);

  var newWin=window.open('','Print-Window');

  newWin.document.open();

  newWin.document.write('<html><body style="size: A4;margin:0;width:200mm;margin-top:300px;-webkit-transform: rotate(-90deg);-moz-transform:rotate(-90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);" onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

  newWin.document.close();

}
        function imprimer(){
            var printContents = document.getElementById('printDiv').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.style.backgroundColor = "white"
            document.body.innerHTML = printContents;
            window.print();
            document.body.style.backgroundColor = "rgb(228, 229, 230)";
            document.body.innerHTML = originalContents;
        }
        
        function rembourser(id){
            var options = {
                modal: true,
                height:500,
                width:700,
                buttons: {
                    "Rembourser": function() {
                        $(location).attr('href', '{{ app.request.getSchemeAndHttpHost()~ app.request.baseUrl }}/admin/gestion/centre/'+id+'/rembourser/principal')
                    },
                    Annuler: function() {
                        $( this ).dialog( "close" );
                    }
                }
            };
            $('#remboursement-modal').html("<img src='{{ asset('images/loader.gif') }}' />");
            $('#remboursement-modal').load('{{ app.request.getSchemeAndHttpHost()~ app.request.baseUrl }}/admin/gestion/centre/'+id+'/rembourser/principal/confirmer').dialog(options).dialog('open');
        }
    </script>
    
{% endblock %}
