{% extends '::base.html.twig' %}
{% block menu -%}
{% embed  '::centre/menu.html.twig' %}
{% block menu_certificats_open %}active{% endblock %}
{% block menu_affectationcertificat_actif %}active{% endblock %}
{% endembed %}
{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_gestion_centre_index') }}">Centre</a></li>
        <li class="breadcrumb-item">certificats</li>
    </ol>
{% endblock %}
{% block menu_gestion_actif %}active{% endblock %}
{% block pagetitle -%}GESTION DES CERTIFICATS{% endblock %}
{% block actions %}

{% endblock %}
{% block body -%}
    <div class="table-responsive">
        <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
            <thead>
            <tr>
                <th>Serie</th>
                <th>Quantité</th>
                <th>Disponible</th>
                <th>Attribué</th>
                <th>Annulé</th>
                <th>Date attribution</th>
                <th>Attributeur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats %}
            <tr>
                <td>{{ resultat.serie }}</td>
                <td>{{ resultat.quantite }}</td>
                <td>{{ resultat.disponible }}</td>
                <td>{{ resultat.attribue }}</td>
                <td>{{ resultat.annule }}</td>
                <td>{{ resultat.dateAffectationCentre }}</td>
                <td>{{ resultat.attributeur }}</td>
                <td><a title='Détail' class='btn btn-info' onclick="certificat({{ resultat.id }}, '{{ resultat.serie|escape('html') }}');" href="#"><i class='fa fa-plus'></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<div id="certificat-modal" title="CERTIFICAT LOT"></div>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript">
    $(document).ready(function() {
        
        $( "#debut" ).datepicker({changeMonth: true, changeYear: true, defaultDate: "+0Y", dateFormat: 'dd-mm-yy' });
        $( "#fin" ).datepicker({changeMonth: true, changeYear: true, defaultDate: "+0Y", dateFormat: 'dd-mm-yy' });

        $('#liste_clients').DataTable({
            //"processing": true,
            //"serverSide": true,
            //"ajax": {
            //    "url": "{{ path('centrecertificatajax') }}",
            //},
        
        "paging" : true,
        "info" : true, 
        "searching": true,
        "responsive": false,
        "pageLength": 50,
        "order": [[1, 'asc']],
       language: {
        processing:     "Traitement en cours...",
        search:         "Rechercher&nbsp;:",
        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix:    "",
        loadingRecords: "Chargement en cours...",
        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable:     "Aucune donnée disponible dans le tableau",
        paginate: {
            first:      "Premier",
            previous:   "Pr&eacute;c&eacute;dent",
            next:       "Suivant",
            last:       "Dernier"
        },
        aria: {
            sortAscending:  ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
    }
    });
    
     
		
		        
                   } );   
                   
                   function certificat(id,serie){
            var options = {
                modal: true,
                height:500,
                width:900,
                buttons: {
                   
                    Annuler: function() {
                        $( this ).dialog( "close" );
                    }
                }
            };
            $('#certificat-modal').html("<img src='{{ asset('images/loader.gif') }}' />");
            $('#certificat-modal').load('{{ app.request.getSchemeAndHttpHost()~ app.request.baseUrl }}/certificat/chefcentre/detail/modal/'+id).dialog(options).dialog('open');
            $('#certificat-modal').dialog('option', 'title', 'CERTIFICAT '+serie+ "");
        }
        </script>
{% endblock %}

