{% extends '::base.html.twig' %}

{% block menu_certificats_actif %}active{% endblock %}
{% block ariane -%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('secretaire_certificat_index') }}">Certificats</a></li>
        <li class="breadcrumb-item">Liste</li>
    </ol>
{% endblock %}
{% block pagetitle -%}GESTION DES CERTIFICATS{% endblock %}
{% block actions %}
    {% if is_granted('ROLE_SECRETAIRE') %} 
        <label class="btn btn-outline-secondary"><a href="{{ path('secretaire_certificat_new') }}">CREER UN LOT</a></label>
    {% endif %}
{% endblock %}
{% block body -%}
    <div class="table-responsive">
        <table id="liste_clients" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatable dataTable no-footer">
            <thead>
            <tr>
                <th>Serie</th>
                <th>Quantité</th>
                <th>Attributeur</th>
                <th>Chef de centre</th>
                <th>Date attribution</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lot in lots %}
            <tr>
                <td>{{ lot.serie }}</td>
                <td>{{ lot.quantite }}</td>
                <td>{{ lot.attributeur }}</td>
                <td>{{ lot.chefCentre }}</td>
                <td>{% if lot.dateAffectationCentre %}{{ lot.dateAffectationCentre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if lot.estSupprimable %}
                        <a class='btn btn-edit' title="Suprimer" href="{{ path('secretaire_lot_supprimer', {'id': lot.id }) }}" onclick='return confirm("Confirmer la suppression du lot {{ lot.serie }}")'><i class='fa fa-ban'></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}

{% block javascripts -%}
<script type="text/javascript">
    $(document).ready(function() {

        $('#liste_clients').DataTable({
        
        "paging" : true,
        "info" : true, 
        "searching": true,
        "responsive": true,
        "pageLength": 50,
        "order": [[1, 'asc']],
       language: {
        processing:     "Traitement en cours...",
        search:         "Rechercher&nbsp;:",
        lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
        info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix:    "",
        loadingRecords: "Chargement en cours...",
        zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable:     "Aucune donnée disponible dans le tableau",
        paginate: {
            first:      "Premier",
            previous:   "Pr&eacute;c&eacute;dent",
            next:       "Suivant",
            last:       "Dernier"
        },
        aria: {
            sortAscending:  ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
    }
    });
    
     
		
		        
                   } );    
        </script>
{% endblock %}

