<li class="nav-item">
    <a class="nav-link" href="{{ path('admin_parametres_marque_index') }}">
        <i class="nav-icon icon-puzzle"></i> Marque</a>
</li>
<li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_modele_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Modèles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_genre_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Genres</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_carrosserie_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Carrosserie</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_usage_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Usage</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_typevehicule_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Type Véhicule</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_typeimmatriculation_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Type Immatriculation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_typepiece_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Type de pièce</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_penalite_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Pénalité</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_categoriecontrole_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Catégorie de contrôle</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_controle_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Contrôle</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_codemaharesultat_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Codes des Résultats MAHA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_caisse_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Caisse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_piste_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Piste</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_parametres_chaine_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Chaine</a>
                </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_gestion_utilisateur_index') }}">
            <i class="nav-icon icon-puzzle"></i> Utilisateur
        </a>
    </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_gestion_group_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Groupe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_gestion_affectation_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Affectation aux caisses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin_gestion_affectationpiste_index') }}">
                    <i class="nav-icon icon-puzzle"></i> Affectation aux pistes</a>
                </li>
